@charset "UTF-O";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
/* html{
   min-height: 100vh;
   background-color: darkgray;
   font-family: var(--font1);
   text-align: center;
} */
header{
    background: rgb(240,156,191);
    background: linear-gradient(0deg, rgba(240,156,191,1) 0%, rgba(255,255,255,1) 47%, rgba(0,151,226,1) 100%, rgba(0,151,226,1) 100%);
    text-align: center;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.445);
    max-height: 100%;
    width: 100vw;
    margin: auto;
    align-items: center;
    
}
#container{
    max-width: 80vw; 
    margin: auto;
    text-align: center;
}

#bandeira{
    opacity: 80%;
    border-radius: 8px;
    display: none;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font3);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
    font-size: 4.8em;
    font-family: var(--font3);
}


a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: blue;
    font-weight: bolder;
    font-size: 1.1em;
}
section{
    padding-top:10vh;
    padding-bottom: 10vh;
    padding-left: 3vh;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 2vw;
}
#titulosumario {
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.486);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.445);
    transition: 0.7s;
    border-radius: 7px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.308);
}
#titulosumario:hover {
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.726);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(248, 81, 81, 0.589);
    scale: 1.2;
}

/* .some{
    display: none;
}
.some:hover{
    display: block;
} */
#mapa1{
    margin: auto;
    text-align: center;
}
.imgcenter{
    margin: auto;
    text-align: center;
}

section.normal{
    background: white;
    color: black;
}
section.imagem{
    background-color: grey;
    color: white;
    box-shadow: inset 6px 6px 13px 1px rgba(0, 0, 0, 0.658);
    background-attachment: fixed;
    text-align: center;
}
section.imagem > p{
    background-color: rgba(10, 4, 4, 0.404);
    display: inline-block;
    padding: 15px;
    text-shadow: 2px 1px 2px black;
}
section > p{
 padding-bottom: 2em;
}
section#img01{
    background-image: url('../imagens/CAPA-SOMENTE-CONVENTO-1080x338.png');
    background-position: right center ;
    background-size: cover;
}
section#img02{
    background-color: rgba(0, 0, 0, 0.274);
    background-position: right center;
    background-size: cover;
}
section#historia{
    background-image: url('../imagens/convento.jpg');
    background-position: right center;
    background-size: cover;
}
section#sumario{
    background-image: url('../imagens/sumario.png');
    background-position: right center;
    background-size: cover;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}
#video{
    background-color: rgba(255, 255, 255, 0.466);
    max-width: 850px;
    max-height: 750px;
    margin-bottom: 150px;
    box-shadow:2px 1px 2px rgba(0, 0, 0, 0.37) ;
}